.content-page-item-class {
  height: 80px;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.content-page-item-a-class {
  font-size: 30px;
  font-weight: bold;
  height: fit-content;
  color: #2a6df4;
}

.content-page-item-a-class:hover {
  color: #2a6df4a0;
}

.content-page-item-origin-class {
  font-weight: bold;
  margin-left: 15px;
  color: gray;
  cursor: pointer;
}

.content-page-item-origin-class:hover {
  color: #2a6df4;
  transition: 0.5s;
}

.content-page-item-span-class {
  height: fit-content;
  margin-left: auto;
  padding-right: 50px;
}

#content-page-id {
  width: 1000px;
  height: fit-content;
  margin-left: 50%;
  margin-top: 60px;
  padding-bottom: 60px;
  transform: translate(-50%, 0);
}

#content-page-title-id {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

#content-page-title-p-id {
  margin: 0;
}

#content-page-info-id {
  width: fit-content;
  margin-top: 20px;
  margin-left: 50%;
  padding-bottom: 70px;
  transform: translate(-50%, 0);
}

#content-info-id {
  font-size: 24px;
  position: absolute;
  width: fit-content;
  margin-top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ipad pro */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #content-page-id {
    width: 800px;
  }
}

/* iphoneX */
@media screen and (max-width: 768px) {
  #content-id {
    min-height: 520px;
  }

  #content-page-id {
    width: 100%;
    margin-top: 0;
  }

  .content-page-item-origin-class {
    font-size: 10px;
    font-weight: bold;
    margin-left: 15px;
    color: gray;
    cursor: pointer;
  }

  .content-page-item-span-class {
    font-size: 10px;
    height: fit-content;
    margin-left: auto;
    padding-right: 10px;
  }

  #content-page-title-id {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  #content-page-title-p-id {
    margin: 0;
  }

  #content-page-info-id {
    width: fit-content;
    margin-top: 15px;
    margin-left: 50%;
    padding-bottom: 70px;
    transform: translate(-50%, 0);
  }

  #content-page-info-id {
    font-size: 10px;
  }
  .content-page-item-a-class {
    font-size: 12px;
  }
  .content-page-item-class {
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  #bottom-information-id {
    font-size: 15px;
  }
}
